a {
    color: #000000;
}

body {
    background-image: url('/static/img/cat.jpg');
    background-repeat:no-repeat; 
    background-attachment:fixed
}

.area {
    padding-top: 2%;
}

.area_login {
    padding-top: 11%;
}

.main {
    width: 40%;
}

.main-title {
    padding-bottom: 3%;
    text-align: center;
}

.main-content {
    padding-top: 3%;
}

.forget-ps {
    padding-top: 3%;
    text-align: right;
}

.half-container {
    width: 50%;
}
